/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

/* NAVBAR */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
    
}

nav {
   padding-top: 7px;
   
}

nav a {
    text-decoration: none;
    color: rgb(25, 25, 25);
    margin: 5px;
}

/* HEADER */

#BG-img-header {
    background-image: url('../images/landing.jpg');
    background-size: cover;
    color: white;
    margin: 10px 0px 0px 0px;
    padding: 100px 70px;
    text-align: center;
}

#header-h1 {
    font-size: 2em;
    margin-bottom: 0px;
}

#header-h4 {
    font-weight: lighter;
}

/* WHAT'S ON SPOTIFY SECTION */

#section-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

#section-2 h3 {
    margin: 20px;
    text-decoration: underline;
    text-decoration-color: #00B172;

}

#cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    
}

.cards p {
    font-size: 0.5em;
    margin-top: 0;
    width: 80px;
}

.cards h5 {
    color: #00B172;
    font-size: 0.7em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 200px;

}

/* GREEN SECTION */

#section-3 {
    background-color: #00B172;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    position: relative;
    
}

#logo-spotify {
    width: 75px;
    height: 75px;
    position: absolute;
    margin-top: 140px;
    
}

#spotify-app {

}

#text-container {
    width: 250px;
    margin-left: 0px;
}

#text-container h3 {
    width: 350px;
    text-decoration: underline;
}

#text-container h4{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#text-container p {
    font-weight: lighter;
    font-size: 0.7em;
    margin-top: 0px;
    width: 200px;
}



